/* App.css */

body {
  background-color: #f4f4f4; /* Hafif karartılmış beyaz */
}

.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  background-color: #fff; /* Notların bulunduğu arkaplan rengi */
  border-radius: 10px; /* Kenarları yuvarlatılmış */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hafif bir gölgelendirme */
}

h1 {
  text-align: center;
}

.add-note-container {
  display: flex;
  margin-bottom: 20px;
}

.add-note-container input[type="text"] {
  flex: 1;
  padding: 10px;
}

.add-note-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-note-container button:hover {
  background-color: #45a049;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 200px genişliğinde kare kare ızgara */
  gap: 20px;
}

.note {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.note-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.note-buttons button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.note-buttons button:hover {
  background-color: #ddd;
}
